
/* @group reset */
* {
	font-family: Helvetica, Arial;
	margin: 0;
	padding: 0;
}
a {
	color: #e8e8e8;
}
/* @end */

/* @group mobtop slideshow */
.mobtop {
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.mobtop .mobtop-slides {
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.mobtop .mobtop-slides li {
	float: left;
	position: relative;
	text-align: center;
}

.mobtop .mobtop-slides li .mobtop-inner {
	text-align: left;
	padding: 20px 10px 0 20px;
}

.mobtop .mobtop-slides .overlay {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	height: 35px;
	line-height: 35px;
	padding-left: 25px;
	position: absolute;
	text-align: left;
	width: 100%;
}
.mobtop .mobtop-slides .caption {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.mobtop .mobtop-pager {
	bottom: 12px;
	float: right;
	list-style: none;
	position: absolute;
	right: 0;
}

.mobtop .mobtop-pager li {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-0-border-radius: 100%;
	background-color: #fff;
	border-radius: 100%;
	float:left;
	height: 8px;
	margin: 0 2px;
	width: 8px;
}

.mobtop .mobtop-pager li.current {
	background-color: #e00;
}

.mobtop .mobtop-pager li:last-child {
	margin-right: 8px;
}
/* @end */

/* @group media queries for mobile */
@media  (max-width: 320px) and (max-height: 480px), (max-width: 480px) and (max-height: 320px) {
	.mobtop .mobtop-slides li img {
		width: 100%;
	}
} 