
/* insert your normalize/reset */
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial;
}
/* end */

/* begin mobtop */
.row {
	display:block;
	width:100%;
	float:left;
}
.mobtop-wrapper {
	position: relative;
	overflow: hidden;
}
.mobtop-wrapper .slides {
	position: relative;
	margin: 0;
	padding: 0;
	left: 0;
	list-style: none;
}

.mobtop-wrapper .slides li {
	position: relative;
	float: left;
}
.mobtop-wrapper .slides img {
	width: 100%;
}

.mobtop-wrapper .slides .overlay {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	height: 34px;
	line-height: 34px;
	position: absolute;
	width: 100%;
	padding-left: 38px;
}
.mobtop-wrapper .slides .caption {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.mobtop-wrapper .slides-pager {
	position: absolute;
	right: 0;
	bottom: 0;
	float: right;
	list-style: none;
}

.mobtop-wrapper .slides-pager li {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-0-border-radius: 100%;
	border-radius: 100%;
	height: 8px;
	width: 8px;
	background-color: #fff;
	float:left;
	margin: 0 2px;
}

.mobtop-wrapper .slides-pager li.current {
	background-color: #e00;
}

.mobtop-wrapper .slides-pager li:last-child {
	margin-right: 8px;
}
/* end */